* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: green; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    padding: 25px 0;
}

.header .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    display: flex;
    gap: 15px;
}

.header_nav a {
    font-size: 14px;
    opacity: 0.7;
}

.main_menu .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.main-auth .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-sizing: border-box;
}

.main-regist {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
}

.notice {
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;
}

.notice.error {
    border: 2px solid #762c2c;
    background: #f3d3d3;
    color: #762c2c;
}

.notice.success {
    border: 2px solid #2c742b;
    background: #e1fee3;
    color: #2c742b;
}